{% extends 'layouts/base.html' %}

{% block main %}
<div class="row">
	<div class="col-md-8">
  		<form action={% url "calcolaAccert" %} method="post">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Calcola" />
		</form>		
	</div>
</div>
<div class="row"></div>

{% if error %}
<div class="row">
	<div class="col-md-8">
  		<h3>ERRORE</h3>
  		{% if error.generic %}
  		<p class="text-left">I dati inseriti non permettono il calcolo per nessuna casistica prevista</p>
  		{% elif error.importo %}
  		<p class="text-left">L'importo versato è maggiore della tassa inserita.<br>
  		Valorizzare il campo <strong>Somma Importi Versati</strong> con il medesimo valore indicato nel campo <strong>Tassa</strong>, l&rsquo;importo versato in eccedenza dovrà essere detratto dalle sanzioni e dagli interessi ancora dovuti.</p>
  		{% endif %}
	</div>
</div>
{% endif %}

{% if data %}
<div class="row">
	<div class="col-md-8">
		<h3>Risultato</h3>
  		<ul class="list-unstyled">
  			<li>TASSA: {{ data.tassa|floatformat:2 }}</li>
  			<li>INTERESSE: {{ data.interesse|floatformat:2 }}</li>
  			<li>SANZIONE: {{ data.sanzione|floatformat:2 }}</li>
  		</ul>
	</div>
</div>
{% endif %}

{% endblock %}

