{% extends 'layouts/base.html' %}

{% block page_title %}TEST | {{  block.super }}{% endblock %}

{% block main %}
<h1>CALCOLO IMPORTI</h1>

<form action={% url "calcola" %} method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% if error %}
ERRORE NEI DATI INSERITI
{% endif %}

{% if data %}
TASSA: {{ data.tassa|floatformat:2 }}</br>
INTERESSE: {{ data.interesse|floatformat:2 }}</br>
SANZIONE: {{ data.sanzione|floatformat:2 }}</br>
<!-- TOTALE: {{ data.totale|floatformat:2 }}</br> -->
{% endif %}

{% endblock %}

